# .env.example
DATABASE_URL="postgresql://postgres.[ID]:[HASLO]@aws-0.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ID]:[HASLO]@aws-0.pooler.supabase.com:5432/postgres"